<!-- HOw you can use same Header in multiple time -->
<!-- Refer the T17 and T18 files -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="KA">
      <h1><a href="./nodetute/About.html">pag1</a></h1>
    </div>
  </body>
</html>
